MONGODB_URI=mongodb+srv://nehabombe2001_db_user:<password>@cluster0.whabr5c.mongodb.net/StudentManagement?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DATABASE=StudentManagement
MONGODB_COLLECTION=STDCollection1
CORS_ORIGINS=*